.hours {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
  }
  
  #hour {
    height: 120px;
    width: 0px;
    margin: auto;
    position: relative;
    top: 40px;
  }
  
  #hour-white {
    border: none;
    height: 50px;
    width: 0px;
    margin: auto;
  }
  
  #hour-black {
    border: 1px solid black;
    height: 70px;
    width: 0px;
    margin: auto;
  }
  
  #minute {
    height: 160px;
    width: 0px;
    margin: auto;
    position: relative;
    top: -100px;
  }
  
  #minute-white {
    border: none;
    height: 70px;
    width: 0px;
    margin: auto;
  }
  
  #minute-black {
    border: 1px solid blue;
    height: 90px;
    width: 0px;
    margin: auto;
  }
  
  #second {
    height: 160px;
    width: 0px;
    margin: auto;
    position: relative;
    top: -260px;
  }
  
  #second-white {
    border: none;
    height: 70px;
    width: 0px;
    margin: auto;
  }
  
  #second-black {
    border: 1px solid red;
    height: 90px;
    width: 0px;
    margin: auto;
  }


  #round {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 1px #aaa;
    border-radius: 100%;
    background-color: white;
    position: relative;
    top: -355px;
    left: 83px;
  }
